<form>
  <mat-form-field>
    <input type="search" placeholder="Search for a vehicle number..." matInput [formControl]="searchControl"
           [matAutocomplete]="autoSearch">
    <button mat-button *ngIf="searchControl.value.length" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #autoSearch="matAutocomplete" (optionSelected)="selectVehicle($event)"
                      [displayWith]="searchDisplay">
      <mat-option *ngFor="let option of filteredSearchOptions | async" [value]="option">
        {{option.vehicleNum}} - {{option.make}} {{option.model}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
