<div class="boxed">
  <h2>My Tasks</h2>
  <div *ngIf="ourTasks">
    <ul class="todoitems">
      <li *ngFor="let eachTask of ourTasks"
          (click)="onSelect(eachTask)"
          [class.selected]="eachTask === selectedTaskItem">
          <span class="badge">{{eachTask.taskName}}</span> {{eachTask.createdOn}}
      </li>
   </ul>
  </div>



  <br /><br />


  <div *ngIf="selectedTask">
  <h4>{{selectedTask.taskName }} </h4>
    <div>
      <label>The Task:
          <input [(ngModel)]="selectedTask.taskName">
      </label><br />
      <label>Created On:
          <input [(ngModel)]="selectedTask.createdOn">
      </label><br />
      <label>Task _id:
        <input [(ngModel)]="selectedTask._id">
      </label><br />
      <button type="button" (click)="updateRecord()">Save changes</button> 
      <button type="button" (click)="deleteTask()">Delete Task</button> 
    </div>
  </div>
  <br /><br />

  <div *ngIf="newTask">
    <div>
    <label>New Task:
      <input [(ngModel)]="newTask.taskName">
    </label><br />
    <button type="button" (click)="addRecord()">Add New Task</button> 
    </div>
  </div>
</div>
  
