doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#nav
      li: a(href="/") Home
      li: a(href="/hello") Hello
      li: a(href="/time") Time
      
    block content
