<table *ngIf="selectedVehicle !== null" mat-table [dataSource]="selectedVehicle.mileageLog" class="mat-elevation-z8 vehicle-mileage-log">
    <ng-container matColumnDef="mpg">
        <th mat-header-cell *matHeaderCellDef> MPG </th>
        <td mat-cell *matCellDef="let entry"> {{entry.mpg}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef> Miles Traveled </th>
        <td mat-cell *matCellDef="let entry"> {{entry.distance}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerGallon">
        <th mat-header-cell *matHeaderCellDef> Price Per Gallon </th>
        <td mat-cell *matCellDef="let entry"> {{entry.pricePerGallon}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMileageLogColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMileageLogColumns;"></tr>
</table>