<app-vehicle-search-form [(selectedVehicle)]="selectedVehicle"></app-vehicle-search-form>

<div *ngIf="selectedVehicle !== null">
    <h2>{{selectedVehicle.vehicleNum}} - {{selectedVehicle.make}} {{selectedVehicle.model}}</h2>

    <ul id="vehicle-info">
      <li><strong>Vehicle Number:</strong> {{selectedVehicle.vehicleNum}}</li>
      <li><strong>Make:</strong> {{selectedVehicle.make}}</li>
      <li><strong>Model:</strong> {{selectedVehicle.model}}</li>
      <li><strong>Year:</strong> {{selectedVehicle.year}}</li>
      <li><strong>VIN:</strong> {{selectedVehicle.vin}}</li>
    </ul>

    <app-vehicle-metrics-table [selectedVehicle]="selectedVehicle"></app-vehicle-metrics-table>
</div>
