<p>Add new User using the form below or search for a User ID to edit:</p>
<app-user-search-form #userSearchForm [(selectedUser)]="selectedUser"></app-user-search-form>

<div *ngIf="selectedUser._id">
    <p>Editing User ID: {{selectedUser._id}}&nbsp;&nbsp;<button mat-raised-button (click)="resetForm()">Cancel</button>
    </p>
</div>

<br>

<form class="user-add-container" #form="ngForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <input type="number" name="userId" ngModel required matInput placeholder="User ID"
            [(ngModel)]="selectedUser.userId">
    </mat-form-field>

    <mat-divider></mat-divider>

    <app-organization-search-form #organizationSearchForm ngDefaultControl matInput required name="organizationId"
        [(ngModel)]="selectedUser.organizationId">
    </app-organization-search-form>
    <p>Organization ID: {{selectedUser.organizationId}}</p>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input name="role" ngModel required matInput placeholder="Role" [(ngModel)]="selectedUser.role">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input name="userId" ngModel required matInput placeholder="User ID" [(ngModel)]="selectedUser.userId">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input name="name" ngModel required matInput placeholder="Name" [(ngModel)]="selectedUser.name">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input name="emails" ngModel required matInput placeholder="Emails" [(ngModel)]="selectedUser.emails">
    </mat-form-field>

    <mat-divider></mat-divider>
    <mat-form-field>
        <input name="picture" ngModel required matInput placeholder="picture" [(ngModel)]="selectedUser.picture">
    </mat-form-field>

    <mat-divider></mat-divider>

    <button mat-raised-button type="submit">
        <mat-icon aria-hidden="false" aria-label="Add Organization Information">save-24px</mat-icon>
    </button>
</form>