<div>

    <div class="vehicle-add-container">
        <mat-form-field>
            <input matInput placeholder="Vehicle Number">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
            <input matInput placeholder="Make">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
            <input matInput placeholder="Model">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
            <input matInput placeholder="Year">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
            <input matInput placeholder="VIN">
        </mat-form-field>

        <mat-divider></mat-divider>

        <button mat-raised-button>
            <mat-icon aria-hidden="false" aria-label="Add Vehicle Information">save-24px</mat-icon>
        </button>

    </div>
</div>