<div>
    <button mat-raised-button>
        <mat-icon aria-hidden="false" aria-label="Add Vehicle Information">edit-24px</mat-icon>
    </button>
    <div class="vehicle-add-container">
        <mat-form-field>
            <input matInput placeholder="Vehicle Number">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Make">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Model">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Year">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="VIN">
        </mat-form-field>

    </div>
</div>