<div *ngIf="selectedVehicle._id">
  <h2>Metrics</h2>

  <table mat-table [dataSource]="fuelUps"
         class="mat-elevation-z8 vehicle-mileage-log">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="fuelUpDate">
      <th mat-header-cell *matHeaderCellDef> Fuel-Up Date</th>
      <td mat-cell *matCellDef="let entry"> {{entry.fuelUpDate}} </td>
    </ng-container>

    <ng-container matColumnDef="mileStart">
      <th mat-header-cell *matHeaderCellDef> Miles Start</th>
      <td mat-cell *matCellDef="let entry"> {{entry.mileStart}} </td>
    </ng-container>

    <ng-container matColumnDef="mileEnd">
      <th mat-header-cell *matHeaderCellDef> Miles End</th>
      <td mat-cell *matCellDef="let entry"> {{entry.mileEnd}} </td>
    </ng-container>

    <ng-container matColumnDef="miles">
      <th mat-header-cell *matHeaderCellDef> Miles</th>
      <td mat-cell *matCellDef="let entry"> {{entry.miles}} </td>
    </ng-container>

    <ng-container matColumnDef="gallons">
      <th mat-header-cell *matHeaderCellDef> Gallons</th>
      <td mat-cell *matCellDef="let entry"> {{entry.gallons}} </td>
    </ng-container>

    <ng-container matColumnDef="calc_mpg">
      <th mat-header-cell *matHeaderCellDef> MPG</th>
      <td mat-cell *matCellDef="let entry"> {{(entry.miles / entry.gallons | number: '1.1-2')}} </td>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef> Total Cost Per Gallon</th>
      <td mat-cell *matCellDef="let entry"> {{entry.totalCost}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedFuelUpCols"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedFuelUpCols;"></tr>
  </table>

  <div id="selection-actions" *ngIf="selection.selected.length > 0">
    <button mat-raised-button (click)="deleteSelectedFuelUps()">Deleted Selected Fuel-Ups</button>
  </div>

  <div id="vehicle-metrics-totals">
    <h3>Totals</h3>
    <ul>
      <li><strong>Total Mileage:</strong> {{ getTotalFuelUpMileage() }}</li>
      <li><strong>Average MPG:</strong> {{ getAverageFuelUpMpg() | number: '1.1-2'}}</li>
      <li><strong>Total Expended:</strong> ${{ getTotalFuelUpCpst() }} </li>
    </ul>
  </div>
</div>
